* {
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

body{
    background-color: rgb(18, 3, 61);
}
header {
    height: 15vh;
    /* border: 1px solid aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(252, 216, 151);
}
header h2 {
    font-size: 1em;
    color: rgb(252, 216, 151);
}

footer {
    height: 15vh;
    /* border: 1px solid aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 70vh;
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid aliceblue; */
}

form {
    /* border:1px solid yellow;  */
    background-color: rgb(203, 205, 207);
    height: 100%;;
    width: 100%;
    max-width: 500px;
    display: grid;
    padding: 40px;

}
form h3{
    color: rgb(18, 3, 61);
    text-align: center;
}
.submitdiv {
    width: 100%;

}

#SignIn{
    background-color: rgb(27, 3, 94);
    color: rgb(203, 205, 207);
    font-weight: 600;
}

#SignIn:hover {
    color: white;
    background-color: rgb(18, 3, 61);
}

.inputdiv{
    width: 100%;
    /* border: 1px solid red; */

}

input {
    width: 100%;
    height: 40px;
    font-size: 100%;
    padding-left: 8px;
    color: rgb(18, 3, 61);
    border: none;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif
}

input:focus {
    outline: none;
    border: 2px solid rgb(27, 3, 94);
}

nav {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* border: 1px solid azure; */
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
    /* border: 1px solid azure; */
    padding: 0;
}

nav li {
    font-size: 0.6rem;
}

nav a {
    text-decoration: none;
    color: azure;
    opacity: 0.5;
}

nav a:hover {
    opacity: 0.95
}

#currentpage {
    opacity: 1;
    color: rgb(252, 216, 151);
    border-bottom: 1px solid rgb(252, 216, 151);
}


@media (min-width:320px) {
    main{
        padding: 2em;
    }
}
@media (min-width:481px) {
    nav {
         width: 70%;
    }

    nav ul {
         width: 100%;
    } 

    nav li {
         font-size: 0.9rem;
    }
}
@media (min-width:769px) {
    nav {
         width: 60%;
    }

    header h1{
         font-size: 2em;
    }
}
@media (min-width: 1025px) {
    nav {
         width: 40%;
    }
    nav li {
         font-size: 1rem;
    }
}
@media (min-width: 1201px) {
    nav li{
        font-size: 1.2em;
    }
    header h1{
         font-size: 2.5em;
    }
}